*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cyan-600:#4D96A9;
    --cyan-300:#8FE3F9;
    --purple-600:#855FB1;
    --purple-300:#D9B8FF;
    --slate-900:#28283D;
    --slate-600:#87879D;
    --slate-300:#D1D1DF;
    --white:#FAFAFA;
    --font-family: "Red Hat Display", sans-serif;
    --text-font-1: bold 64px/110% var(--font-family);
    --text-font-2:900 40px/110% var(--font-family);
    --text-font-3:bold 16px/110% var(--font-family);
    --text-font-4: 400 19px/110% var(--font-family);
    --text-font-5: 900 16px/150% var(--font-family);
}

/* ================HEADER============== */
body{
    height: 100vh;
    width: 100vw;
    font-family: var(--font-family);
}

header{
    /* border: 1px solid red; */
    padding-top: 48px;
    display: flex;
    justify-content: center;
    /* margin-bottom: 68px; */
}

/* ================****MAIN****=============== */


/* ========Hero Section======== */

main .hero-image{
    /* border: 1px solid red; */
    height: 12rem;
    margin: 62px 0px;
    background-image: url(assets/tablet/image-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 1px solid red; */

}

main .hero-text h1{
    font: var(--text-font-2);
    color: var(--slate-900);
    text-align: center;
    padding: 0rem 2rem;
    /* border: 1px solid red; */
    max-width: 350px;
    margin: auto;
}

main .hero-text p{
    font: var(--text-font-4);
    color: var(--slate-600);
    text-align: center;
    padding: 1.5rem 2rem;
    line-height: 1.8rem;
}

.buttons{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.button-download{
    width: 12rem;
    height: 3.5rem;
    border-radius: 2rem;
    background-color: var(--cyan-600);
    font: var(--text-font-5);
    border: none;
}

.button-download a{
    color: var(--white);
    text-decoration: none;

    span{
        color: var(--cyan-300);
    }
}

.button-download:hover{
    background-color: #71C0D4;
}

.button-info{
    width: 10rem;
    height: 3.5rem;
    border-radius: 3rem;
    background-color: var(--purple-600);
    font: var(--text-font-5);
    border: none;
    margin-bottom: 2rem;
}

.button-info a{
    color: var(--white);
    text-decoration: none;
}

button-info:hover{
    background-color: #B18BDD;
}

.number-1{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 64px;
}

.main-content{
    /* border: 2px solid red; */
    padding: 32px;
}

.images-main-content{
    min-height: 19rem;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.images-main-content .image1{
   background-image: url(assets/desktop/image-woman-in-videocall.jpg);
   background-size: cover; 
   border-radius: 8px;

}
.images-main-content .image2{
   background-image: url(assets/desktop/image-women-videochatting.jpg);
   background-size: cover; 
   border-radius: 8px;

}
.images-main-content .image3{
   background-image: url(assets/desktop/image-men-in-meeting.jpg);
   background-size: cover; 
   border-radius: 8px;


}
.images-main-content .image4{
   background-image: url(assets/desktop/image-man-texting.jpg); 
   background-size: cover; 
   border-radius: 8px;

}

.p1-main-content{
    font: var(--text-font-3);
    color: var(--cyan-600);
    letter-spacing: 4px;
    margin-top: 4rem;
    text-align: center;
    text-transform: uppercase;
    /* border: 1px solid red; */
}

.text-main-content h2{
    font: var(--text-font-2);
    color: var(--slate-900);
    text-align: center;
    /* border: 1px solid red; */
    padding-top: 16px;
}

.p2-main-content{
    font: var(--text-font-4);
    color: var(--slate-600);
    text-align: center;
    margin-top: 2rem;
    line-height: 1.8rem;

}
/* =======footer======== */

.number-2{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 32px;
    position: relative;
    bottom: -2rem;
    /* z-index: 5; */
    /* left: 43.2%; */
    /* margin-bottom: 64px; */
}


.footer-content{
    background-image: url(assets/mobile/bg-footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;


}
.footer-content h2{
    font: var(--text-font-2);
    text-align: center;
    color: var(--white);
    padding-top: 64px;
}

.footer-content p{
    font: var(--text-font-4);
    text-align: center;
    color: var(--white);
    padding: 32px;
    line-height: 1.8rem;
}

.footer-content button{
    width: 12rem;
    height: 3.5rem;
    border-radius: 2rem;
    background-color: var(--purple-600);
    font: var(--text-font-5);
    border: none;
}

.footer-content button a{
    color: var(--white);
    text-decoration: none;

}

/* ==========media queries TABLET============ */

@media screen and (min-width: 768px) {

    main .hero-image{
        /* border: 1px solid red; */
        height: 19rem;
        background-image: url(assets/tablet/image-hero.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}

    main .hero-text h1{
        font: var(--text-font-2);
        color: var(--slate-900);
        text-align: center;
        padding: 0rem 2rem;
        /* border: 1px solid red; */
        margin: auto;
    }

    main .hero-text p{
        font: var(--text-font-4);
        color: var(--slate-600);
        text-align: center;
        padding: 1.5rem 2rem;
        line-height: 1.8rem;
        /* border: 1px solid red; */
        max-width: 550px;
        margin: auto;
    }

    .buttons{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
}
    .button-info{
        margin-bottom: 0rem;
    }

    .images-main-content{
        min-height: 10rem;
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
}
    .text-main-content h2{
    max-width: 450px;
    margin: auto;
    /* border: 1px solid red; */
}

.p2-main-content{
    max-width: 550px;
    margin: auto;
    /* border: 1px solid red; */
    padding-top: 32px;


}

}
