header{
    display: flex;
    justify-content: space-between;
    padding: 26px;
    background-color: var(--color1);
    max-width: 900px ;
    margin: auto;
}

#leftside{
    font: var(--font-md);
}


#rightside{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul li{
    /* width: 150px; */
    padding-inline: 23px;

}

ul li:nth-child(1) #rightside{
    text-align: end;
}
