*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    font-family: "Poppins", sans-serif;
}

body{
    background-image: url(assets/nav-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    align-items: center;
     /* adição de codigo para que o footer grude no bottom da página */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupa toda a tela */

}

/*----------------------HEADER--------------------*/

header{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 12px;
    width: 768px;
}

#left-side>h1{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.532);
    justify-content: flex-start;
    /* padding-left: 44px; */
    /* width: 50vw; */
    /* border: 1px solid red; */

}

#left-side>h1>a{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.532);
    justify-content: flex-start;
    text-decoration: none;
    /* padding-left: 44px; */
    /* width: 50vw; */
    /* border: 1px solid red; */
}

#left-side>h1>a:hover{
    text-decoration: underline;
}

#right-side{
    align-items: center;
    display: flex;
}

#right-side>ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 16px;
    /* border: 1px solid red; */
    /* padding: 12px; */
}

#right-side a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.532);

}

#right-side a:hover{
    text-decoration: underline;
}
/*----------------------BODY--------------------*/

main{
    width: 65%;
    padding: 24px;
    margin: 48px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.36);
    border-radius: 14px;

}

main>h1{
    text-align: center;
    
}

ul{
    list-style: none;
}

li>a{
    color: rgb(75, 49, 26);
    text-decoration: none;
    font-weight: 600;
}

li>a:hover{
    text-decoration: underline;
    color: black;
}


/* -------------------FOOTER--------------------- */
footer{
    text-align: center;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.533);
    padding: 8px;
}

footer>a{
    /* color: rgb(148	122	43); */
    text-decoration: none;
    color: rgba(255, 255, 255, 0.59);
    font-weight: 700;
    margin-top: auto; /* Empurra o footer para o final */
}

footer>a:hover{
    text-decoration: underline;
}

/* -------------------MEDIA QUERIES------------------- */


@media screen and (min-width: 425px) and (max-width: 768px) {

    header{
        width: 100%;
    }

    main{
    width: 85%;
    }

    main ul li{
        margin-top: 8px;
    }
}