*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-inline: 16px;
    padding-block: 16px;
}

/*----------------------HEADER--------------------*/

header{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */

}

#left-side>h1{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.532);
    justify-content: flex-start;
    /* padding-left: 44px; */
    /* width: 50vw; */
    /* border: 1px solid red; */

}

#right-side{
    align-items: center;
    display: flex;
}

#right-side>ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 16px;
    /* border: 1px solid red; */
    /* padding: 12px; */
}

#right-side a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.532);

}

#right-side a:hover{
    text-decoration: underline;
}

/*----------------------MAIN--------------------*/

main{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: rgba(255, 255, 255, 0.652);
    border-radius: 12px;
    border: 0px;
    height: 80px;
}

button>a{
    text-decoration: none;
    /* color: rgb(148	122	43); */
    color: rgb(96	73	24);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: 24px;
}

button:hover{
    background-color: white;
    /* background-color: rgba(238, 189, 83, 0.436); */
    color: white;
}

/*---------------------FOOTER--------------------*/

footer{
    text-align: center;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.73);

}

footer>a{
    /* color: rgb(148	122	43); */
    text-decoration: none;
    color: rgba(255, 255, 255, 0.73);
    font-weight: 700;
}

footer>a:hover{
    text-decoration: underline;
}