*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    font-family: "Poppins", sans-serif;
}



body{
    background: linear-gradient(90deg, rgba(230,136,65,1) 0%, rgba(250,147,26,1) 42%, rgba(255,218,102,1) 100%);
}


/*----------------------HEADER--------------------*/

header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 800px;
}

#left-side>h1>a{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.532);
    padding: 12px;
    text-decoration: none;
}

#right-side{
    align-items: center;
    display: flex;
}

#right-side>ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 12px;
    gap: 24px;
}

#right-side a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.532);
}

#right-side a:hover{
    text-decoration: underline;
}

/*----------------------MAIN--------------------*/

main{
    max-width: 768px;
    padding: 24px;
    margin: 48px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.36);
    border-radius: 14px;
}

h2{
    padding: 12px 0px;
}

p{
    text-align: justify;
    line-height: 2rem;
    text-indent: 28px;
}

table{
    border-collapse: collapse;
    margin: 12px;
}
table td{
    border: 1px solid black;
    padding: 8px;
}

#img-ondas-quadradas{
    max-width: 90%;
}

details{
    overflow: scroll;
}

summary{
    color: rgb(255, 255, 255);
}
/*----------------------ASIDE--------------------*/

aside ul{
    list-style: inside;
}

aside a{
    text-decoration: underline;
    color: black;
}

aside a:hover{  
    text-decoration: underline;
}

/*---------------------media queries-------------------*/

@media screen and (max-width: 768px) {
    main{
        max-width: 90%;
    }
}