*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --brand-color-light: #60A5FA;
    --brand-color-dark:#1D4ED8;
    --bg-color:#0F172A;
    --stroke-color:#1E293B;
    --text-color-primary: #F1F5F1;
    --text-color-secondary:#CBD5E1;

    --font-family:"Archivo", sans-serif;
    --h1: 800 24px/135% var(--font-family);
    /* primeiro o peso da fonte então o tamanho e em seguida o espaçamento (altura entre linha) e então o nome da fonte escolhida */
    --h2: 800 16px/140% var(--font-family);
    --h3: 800 14px/140% var(--font-family);
    --span: 600 14px/145% var(--font-family);
    --paragraph: 300 14px/160% var(--font-family);
    --small: 200 12px/150% var(--font-family);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color-primary);
    font-family: var(--font-family);
    padding-inline: 32px;
    width: 100vw;
    height: 100vh;
}

/* ----------------HEADER---------------- */

header{
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 32px;
}

header nav{
    display: flex;
    /* border: 2px solid white; */
    padding: 18px;
    justify-content: space-between;
    align-items: center;

    span{
        font-weight: 600;
    }

    #menu{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    #logo{
        display: flex;
        align-items: center;
    }

    #search{
        display: flex;
        align-items: center;
        gap: 8px;


    }
}

header ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 14px;
    border-top: 0.1px solid var(--brand-color-light);
    border-bottom: 0.1px solid var(--brand-color-light);
    margin-bottom: 14px;

    a{
        text-decoration: none;
        color: var(--text-color-secondary);
        font: var(--h3);
    }

    a:hover{
        color: var(--brand-color-light);
    }
}

/* ------------MAIN (Section destaques)-------- */

main{
    max-width: 70%;
    margin: 0 auto;
    padding-inline: 18px;
}

section#destaques{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    max-height: 400px;
    /* border: 2px solid red; */
    object-fit: cover;
    max-width: 100%;
    gap: 12px;

    img{
        max-width: 100%;
    }

    .destaque1{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        position: relative;
        /* existe sobra de espaço no layout pois as imagens não tem o tamanho perfeito para esse layout... e isso é normal acontencer. Precisamos ajustar o recorte das imagens para que elas se encaixem perfeitamente no layout. */
        border-radius: 8px;
        overflow: hidden;

    }

    .destaque2{
        grid-row-start: 1;
        grid-row-end: 2 ;
        grid-column-start: 3;
        grid-column-end: 4;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
    }

    .destaque3{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 4;
        grid-column-end: 5;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
    }

    .destaque4{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
    }

    .destaque5{
        grid-row-start: 2;  
        grid-row-end: 3;
        grid-column-start: 4;
        grid-column-end: 5;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
    }


    .destaque1::before, .destaque2::before, .destaque3::before, .destaque4::before, .destaque5::before{
        content: "";
        /* este content vazio é necessário para que o pseudo elemento funcione, ou seja, para que ele apareça na tela. é com ele que criamos o efeito de sobreposição de cor na imagem. */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 13%, rgba(10, 10, 23, 1) 100%);
        /* z-index: 1; */
    }


}

    section#destaques figcaption{
        position: absolute;
        bottom: 0px;
        padding: 14px;
    }

    section#destaques span{
        display: inline-block;
        background-color: var(--brand-color-light);
        padding: 6px;
        font: var(--small);
        font-weight: 600;
        border-radius: 4px;
        margin-bottom: 12px;
        box-shadow: 0px 0px 12px rgba(19, 18, 18, 0.735);
 }

 .fonte-small{
     font-size: 8px;
     font-weight: 400;
     line-height: 20px;
 }


/* ------------MAIN (Mais lidos)-------- */

#header-mais-lidos{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    border-top: 0.1px solid #60a5fa32;
    padding-top: 12px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.603);
    margin-bottom: 24px;

    div:nth-child(2){
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

section#mais-lidos{
    /* border: 2px solid var(--brand-color-light); */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    color: rgba(255, 255, 255, 0.701);
    text-align: justify;
    position: relative;

    img{
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
}
    .ml1{
        position: relative;
    }
    .ml2{
        position: relative;
    }
    .ml3{
        position: relative;
    }
    .ml4{
        position: relative;
    }
.span-mais-lidos{
    display: inline-block;
    background-color: var(--brand-color-light);
    padding: 3px;
    font: var(--small);
    font-weight: 600;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    left: 10px;
}
