header{
    font: var(--text-md);
    padding-block: 32px;
    max-width: 1200px;
    margin: auto;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile{
    display: flex;
    gap: 32px;
}

#profile > div{
    width: 384px;
}

#profile h1{
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

#info{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 280px;

}

#info li{
    display: flex;
    gap: 8px;
    /* border: 1px solid black; */
}