*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: "Poppins", sans-serif;
    --bg-color: rgba(252, 227, 202, 0.901);
    --font-title-color:rgb(95, 68, 41);
    --font-color: rgb(50, 35, 22);
    --font-subtitle-color: rgb(140, 100, 61);


}

body{
    width: 100vw;
    height: 100vh;
    background: url(ex020-bg.jpg) no-repeat center center/cover;
    background-attachment: fixed;
    line-height: 1.8rem;
}

main{
    background-color: var(--bg-color);
    width: 780px;
    margin: auto;
    padding: 28px;
    text-align: justify;
    /* text-indent: 18px; */
    border-radius: 18px;}

li{
    list-style-position: inside;
}

p{
    margin-block: .7rem;
}

main h1, h2{
    color:var(--font-title-color);
}

main h3, h4{
    color: var(--font-subtitle-color);
}

main p{
    color: var(--font-color);
}

strong{
    color: var(--font-title-color);
    font-weight: 900;
}