.container{
    background-color: rgb(146, 216, 246);
    display: flex;
    flex-direction: row; 
    /* o flex direction row éo que já temos by default */
}

.item{
    background-color: pink;
    border: 1px solid rgb(228, 109, 129);
    width: 35px;
    height: 34px;
}

/* --------------------------------------- */

.container2{
    background-color: rgb(146, 216, 246);
    display: flex;
    flex-direction: row-reverse;
    }

.item2{
    background-color: pink;
    border: 1px solid rgb(228, 109, 129);
    width: 35px;
    height: 34px;
}

/* --------------------------------------- */

.container3{
    background-color: rgb(146, 216, 246);
    display: flex;
    flex-direction: column;
    
}

.item3{
    background-color: pink;
    border: 1px solid rgb(228, 109, 129);
    width: 35px;
    height: 34px;
}

/* --------------------------------------- */

.container4{
    background-color: rgb(146, 216, 246);
    display: flex;
    flex-direction:column-reverse ;
    
}

.item4{
    background-color: pink;
    border: 1px solid rgb(228, 109, 129);
    width: 35px;
    height: 34px;
}